# Ignore images
# *.svg

# Never ignore any Jupyter notebook
# !*.ipynb
# !*.ipynb

limbo/
!*.ipynb

# Except this folder
Supplementary online material
Supplementary online material/*.pdf

# Output/
# pickles/
# temp/
# debug_log.txt

# Except gitignore
!.gitignore