# Ignore images
# *.svg

# Never ignore any Jupyter notebook
# !*.ipynb
# !*.ipynb

limbo/
data/
scripts/
!*.ipynb
pickles/
processed/
Supplementary online material
Supplementary online material/*.pdf

CeDNe.log
debug_log.txt

# Output/
# pickles/
# temp/
# debug_log.txt

# Except gitignore
!.gitignore